@import url(transom/site.css);

ul.pumpjack.links {
    padding-left: 0;
}

ul.pumpjack.links li {
    display: inline;
}

ul.pumpjack.links li:after {
    content: ", ";
}

ul.pumpjack.links li:last-child:after {
    content: none;
}

table.pumpjack {
    width: 100%;
    table-layout: fixed;
}

table.pumpjack span.special {
    font-style: italic;
}

table.pumpjack th {
    font-size: 0.9em;
}

table.pumpjack th,
table.pumpjack td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.pumpjack.classes th:nth-child(1) {
    width: 30%;
}

table.pumpjack.properties th:nth-child(1) {
    width: 20%;
}

table.pumpjack.properties th:nth-child(2) {
    width: 40%;
}

table.pumpjack.properties th:nth-child(3),
table.pumpjack.properties th:nth-child(4) {
    width: 12.5%;
}

table.pumpjack.properties th:nth-child(5),
table.pumpjack.properties th:nth-child(6) {
    width: 7.5%;
}

table.pumpjack.methods th:nth-child(1) {
    width: 20%;
}

table.pumpjack.methods th:nth-child(2) {
    width: 40%;
}

table.pumpjack.methods th:nth-child(3) {
    width: 25%;
}

table.pumpjack.methods th:nth-child(4) {
    width: 15%;
}

